{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ostatnio dodane zdjęcia{% endblock %}

{% block content %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="mt-5 mb-4 h4">Najnowsze zdjęcia użytkowników</h1>

        <div class="mt-5">
            <div class="row">
                {% for photo in latestPhotosPublic %}
                    <div class="card" style="width: 18rem;">
                        <img src="/public/images/hosting/{{ photo.filename }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dodał: {{ photo.user.username }}</h5>

                            <button type="button" class="btn btn-primary">
                                Like <span class="badge badge-light">{{ photo.likes }}</span>
                            </button>
                            <button type="button" class="btn btn-primary">
                               Obserwuj <span class="badge badge-light"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
